*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Poppins',sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
}
body{
    background-color: #eff4ff;
    width: 100%;
}
.container{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-login{
    font-size: 18px;
}
.form-login{
    max-width: 400px;
    background-color: #fff;
    flex-basis: 400px;
    box-shadow: 0 1px 15px 1px rgb(231, 234, 251);
    border-radius: 0.6rem;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-clip: border-box;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    margin: 0 auto;
}
.center{
    width: 100%;
    text-align: center;
}
.form-field{
    margin: 20px 0;
    width: 100%;
    position: relative;
}
.form-field label{
    position: absolute;
    left: 0;
    top: 0;
    color: #9e9e9e;
    text-align: initial;
    margin-left: 15px;
    transform: translateY(7px);
    pointer-events: none;
    cursor: text;
    transform-origin: 0 100%;
    transition: all .2s;

}
.form-field.active input{
    background-color: rgb(232, 240, 254);
}
.form-field.active label{
    transform: translateY(-18px) scale(0.8);
}
.form-field input{
    height: calc(2.6rem + 2px);
    width: 100%;
    background-color: #fff;
    background-clip: padding-box;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.55rem 1.1rem;
    outline-color: rgba(15, 167, 255, 0.384);
}
.form-field button{
    background: #3d84c2;
    width: 94%;
    display: block;
    margin: 0 auto;
    border-color: #3d84c2;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    border: 1px solid #3d84c2;
    border-radius: 50px;
    padding: 0.55rem 1.1rem;
    text-transform: uppercase;
    font-weight: 400;
    cursor: pointer;
    transition: background 0.4s ease;
}
.form-field button:hover{
    background: #1a5385;
}
.end{
    color: #217298;
    font-size: 13px;
}
.error{
    font-size: 12px;
    font-weight: bold;
    color: #fe4d2e;
    text-align: center;
}