/* Css write by Hua Hoang Duy
    Started date : 12//10/2020
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
img{
    width: 100%;
    border: none;
}
:root{
    --main-background: #fff;
    --main-color: #333;
    --second-background: #1664bd;
    --hover-color: #ff5159;
}
a:hover{
    transition: all 0.3s ease;
}
html{
    font-family: 'Roboto',sans-serif;
    scroll-behavior: smooth;
}
body{
    background: var(--main-background);
    color: var(--main-color);
    width: 100%;
    overflow-x: hidden;
}
.sticky-fixed{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in;
    padding: 30px;
}
.menu-close{
    width: 40px;
    height: 40px;
    background: var(--main-color);
    color: #fff;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
.header-top-area{
    width: 100%;
    background: var(--second-background);
    padding: 15px;
    margin: 0 auto;
}
.header-top-area > .container{
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    text-align: right;
}
.header-top-area > .container > a > i{
    margin-right: 7px;
    font-size: 13px;
    display: inline-block;
    vertical-align: middle;
}
.head-login{
    background: var(--second-background);
    padding: 5px 7px;
    box-shadow: 0px 1px 3px 1px #eee;
    margin-right: 5px;
    color: #fff;
    border-radius: 4px;
}
.head-register{
    background: var(--second-background);
    padding: 5px 7px;
    box-shadow: 0px 1px 3px 1px #eee;
    margin-right: 5px;
    color: #fff;
    border-radius: 4px;
}
header{
    width: 100%;
    background: var(--main-background);
    padding: 0 10px;
    padding-top: 10px;
    transition: all 0.4s ease;
}
.scrolling{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    background: var(--main-background);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    animation: sticky 0.5s ease-in;
    margin-top: 0;
}
@keyframes sticky{
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0);
    }
}
.header-container{
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width: 120px;
}
.navbar{
    list-style: none;
    display: flex;
}
.navbar-item{
    position: relative;
    z-index: 2;
}
.navbar-item i{
    display: none;
}
.navbar-item > .sub-menu{
    list-style: none;
    display: block;
    width: 300px;
    background: var(--main-background);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 16px 0;
    position: absolute;
    left: 0;
    border-radius: 10px;
    transform-origin: 0 0;
    transform: rotateX(-90deg);
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease-out;
    overflow: hidden;
}
.sub-menu > li {
    display: block;
}
.sub-menu > li > a{
    display: block;
    background: var(--main-background);
    color: var(--main-color);
    text-transform: uppercase;
    word-wrap: break-word;
    padding: 15px 5px 15px 10px;
}
.sub-menu > li > a:hover{
    background: #eee;
}
.navbar-item:hover > .sub-menu{
    opacity: 1;
    visibility: visible;
    transform: rotateX(0);
}
.navbar-link{
    margin: 0 10px;
    color: var(--main-color);
    text-transform: uppercase;
    cursor: pointer;
}
.navbar-link.active{
    color: var(--second-background);
}
.navbar-link:hover{
    color: var(--second-background);
}
/* ======= main content ====== */
.wrapper{
    width: 100%;
}
.slides{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
}
.caseroul{
    width: 100%;
}
.caseroul > img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
#prevBtn{
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 5%;
    font-size: 40px;
    color: white;
    cursor: pointer;
    opacity: 0.7;
    box-shadow: 10x 15px black;
}
#nextBtn{
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 5%;
    font-size: 40px;
    color: white;
    cursor: pointer;
    opacity: 0.7;
    box-shadow: 10x 15px black;
}
.menu{
    display: none;
}
/* ====== responsive for header =======*/
@media only screen and (max-width: 600px){
    nav{
        flex-direction: row-reverse;
    }
    .logo img{
        width: 80px;
    }
    .banner{
        display: none;
    }
    .navbar{
        position: fixed;
        background: var(--main-background);
        width: 250px;
        transform: translateX(-255px);
        height: 100%;
        z-index: 101;
        top: 0;
        left: 0;
        box-shadow: 5px 15px 5px rgba(138, 138, 138, 0.2);
        flex-direction: column;
        padding-top: 80px;
        text-align: left;
        font-size: 16px;
        transition: transform 0.5s ease;
    }
    .navbar-expand .navbar{
        transform: translateX(0);
    }
    .navbar-item{
        display: block;
        border-bottom: 1px solid #ddd;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .navbar-item i{
        float: right;
        display: block;
    }
    .navbar-item > .sub-menu{
        display: block;
        position: relative;
        transform: none;
        opacity: 1;
        visibility: visible;
        width: 100%;
        box-shadow: none;
        padding: 0;
        margin: 0;
        padding-left: 10px;
        font-size: 15px;
        transform-origin: bottom;
        border-radius: 0;
        transition: all 0.4s ease;
        max-height: 0;
        overflow: hidden;
    }
    .navbar-item > .sub-menu.active{
        max-height: 300px;
    }
    .navbar-link{
        display: block;
        color: var(--main-color);
        font-weight: 600;
    }
    .navbar-link.active{
        color: var(--main-color);
    }
    .navbar-link:hover{
        color: var(--second-background);
    }
    .menu{
        display: block;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    .menu span{
        display: block;
        width: 100%;
        height: 3px;
        background: var(--second-background);
        position: relative;
        transition: background 0.4s ease;
    }
    .menu span::before{
        content: '';
        position: absolute;
        display: block;
        top: -10px;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--second-background);
    }
    .menu span::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: var(--second-background);
        top: 10px;
    }
    .navbar-expand .menu span{
        background: transparent;
    }
    .navbar-expand .menu span::before, .navbar-expand .menu span::after{
        top: 0;
        transition: transform 0.4s ease;
    }
    .navbar-expand .menu span::before{
        transform: rotate(45deg);
    }
    .navbar-expand .menu span::after{
        transform: rotate(-45deg);
    }
    .navbar-expand .sticky-fixed{
        left: 240px;
        opacity: 1;
        visibility: visible;
    }
    .navbar-expand{
        overflow-y: hidden;
    }
}
/* ==== footer === */
.footer{
    width: 100%;
    background: var(--second-background);
    color: #fff;
    padding: 40px;
}
.footer-container{
    max-width: 1240px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}